/src/omap-usb-boot
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
Makefile
Makefile.in
config-h.in
config.h
stamp-h1
*.o
*/.deps/
*~
